<button mat-icon-button *ngIf="!isLoggedIn" [matMenuTriggerFor]="menuNotLogged" class="navbar-toggler menu-icon float-right toggle-navigation" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="toggle-navigation">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menuNotLogged="matMenu">
  <button mat-menu-item routerLink="/login">Login utente</button>
  <button mat-menu-item routerLink="clubLogin">Login circolo ippico</button>
</mat-menu>

<div *ngIf="!isLoggedIn" class="d-flex navbar-nav ml-auto justify-content-end hide-on-phone" aria-label="hide-on-phone" >
  <a class="nav-link mr-5" routerLink="login">Login utente</a>
  <a class="nav-link ml-5 mr-3" routerLink="clubLogin">Login circolo ippico</a>
</div>
