<div class="container mt-5">
<!--     ngApp="horseRegistration">-->
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <h2 class="title">Registra il tuo cavallo!</h2>

    <div class="input-group flex-column p-2">
      <div class="row">
        <mat-form-field class="col" appearance="fill">
          <mat-label>Nome</mat-label>
          <input
             matInput
             name="horseName"
             id="horseName"
             placeholder="Nome"
             [(ngModel)]="form.horseName"
             required>
        </mat-form-field>
        <mat-form-field class="col" appearance="fill">
          <mat-label>Microchip</mat-label>
          <input
            matInput
            name="horseMicrochip"
            id="horseMicrochip"
            placeholder="Microchip"
            [(ngModel)]="form.horseMicrochip"
            required>
        </mat-form-field>
      </div>
    </div>

    <div class="input-group flex-column p-2">
      <div class="row">
        <mat-form-field class="col" appearance="fill">
          <mat-label>Data di nascita</mat-label>
          <input
            matInput
            [matDatepicker]="horseBirthday"
            [(ngModel)]="form.horseBirthday"
            name="horseBirthday"
            id="horseBirthday"
            disabled
            required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="horseBirthday"></mat-datepicker-toggle>
          <mat-datepicker
            #horseBirthday
            disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col" appearance="fill">
          <mat-label>Numero FISE</mat-label>
          <input
            matInput
            name="horseFise"
            id="horseFise"
            placeholder="Numero FISE (opzionale)"
            [(ngModel)]="form.horseFise">
        </mat-form-field>

      </div>
    </div>

    <div class="input-group flex-column p-2">
      <div class="row"  *ngIf="!isClub">
        <mat-checkbox
          id="isOwnerRider"
          [checked]=isOwnRider
          (change)="isOwnerRider()">
          Sono il suo cavaliere.
        </mat-checkbox>
      </div>
    </div>

    <div class="input-group flex-column p-2">
      <div class="d-flex row">
        <mat-form-field class="col" appearance="fill">
          <mat-label>Se necessario aggiungi un cavaliere (fida, mezza-fida, altro...)</mat-label>
          <mat-select
            name="riderId"
            id="riderId"
            [(ngModel)]="riderId">
            <mat-option *ngFor="let user of users"
                    [value]="user['_id']"
                    [disabled]="isInList(user['_id'])">
              {{user['name']}} {{user['surname']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-fab class=" btn" (click)="addRiderToList(riderId)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="flex-column p-2" *ngIf="riders.length != 0">
      <mat-list class="row">
        <mat-label>Cavalieri selezionati:</mat-label>
        <mat-list-item *ngFor="let rider of riders">
          <mat-checkbox
            [checked]="isInList(rider['_id'])"
            (change)="isRiderUnchecked(rider)"
            id="isRider">
            {{rider['name']}} {{rider['surname']}}
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="input-group flex-column p-2">
      <div class="row" *ngIf="!isClub">
        <mat-checkbox
          (change)="isScholasticChecked()"
          id="isScholastic">
          Cavallo adibito a lezioni della scuola
        </mat-checkbox>
      </div>
    </div>


    <div class="form-group mt-4">
      <button class="btn col-md-4">Iscrivi</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>


  <div class="alert alert-success" *ngIf="isSuccessful">
    Registrazione completata!
  </div>
</div>
<!--

<script>
  let app = angular.module('horseRegistration', []);
  app.controller('addRiderController', addRiderController)
  function addRiderController($scope) {

  }

</script>
-->
