<div class="container mt-5 align-self-auto">
<!--     ngApp="horseRegistration">-->
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <h3 class="title">Registra il tuo cavallo!</h3>
    <div class="form-row">
      <div class="col-md-10 mt-2">
        <label for="horseName">Nome</label>
        <input
          type="text"
          class="form-control"
          name="horseName"
          id="horseName"
          placeholder="Nome"
          [(ngModel)]="form.horseName"
          required
        />
      </div>
      <div class="col-md-5 mt-2">
        <label for="horseMicrochip">Microchip</label>
        <input
          type="text"
          class="form-control"
          name="horseMicrochip"
          id="horseMicrochip"
          placeholder="Microchip"
          [(ngModel)]="form.horseMicrochip"
          required
        />
      </div>
    </div>

    <div class="form-row ">

      <div class="col-md-5 mt-2">
        <label for="horseBirthday">Data di nascita</label>
        <input
          type="date"
          class="horseBirthday"
          name="horseBirthday"
          id="horseBirthday"
          placeholder="Data di nascita"
          [(ngModel)]="form.horseBirthday"
          required
        />
      </div>
    </div>
    <div class="col-md-5 mt-2">
      <label for="horseFise">Numero FISE</label>
      <input
        type="text"
        class="form-control"
        name="horseFise"
        id="horseFise"
        placeholder="Numero FISE (opzionale)"
        [(ngModel)]="form.horseFise"
      />
    </div>

    <div class="form-row">
      <div class="col-md-8" *ngIf="!isClub">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [value]="form.ownerId"
            (change)="isOwnerRider($event)"
            id="isOwnerRider"
            [checked]=isInList(form.ownerId)>
          <label class="form-check-label" for="isOwnerRider">Sono il suo cavaliere.</label>
        </div>
      </div>

      <div class="col-md-5 mt-2">
        <label for="riderId">Se necessario aggiungi un cavaliere (fida, mezza-fida, altro...)</label>
        <select
          class="form-control"
          name="riderId"
          id="riderId"
          [(ngModel)]="riderId"
          >
          <option *ngFor="let user of users"
                  [value]="user['_id']"
                  [disabled]="isInList(user['_id'])">
            {{user['name']}} {{user['surname']}}
          </option>
        </select>
        <button class="btn col-md-3" (click)="addRiderToList(riderId)">Aggiungi</button>
      </div>
    </div>

    <div class="form-row" *ngIf="riders.length != 0"> <!--[style.display]="'true'"-->
      <h4>Cavalieri selezionati:</h4>
      <div class="col-md-8">
        <ul role="listbox" class="list">
          <li *ngFor="let rider of riders" role="option" aria-checked="true" >
            <input
              type="checkbox"
              class="form-check-input"
              value="true"
              checked
              (change)="isRiderUnchecked($event, rider)"
              id="isRider">
            <label class="form-check-label" for="isRider"> {{rider['name']}} {{rider['surname']}}</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-row ">
      <div class="col-md-8" *ngIf="isClub">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            value="false"
            (change)="isClubOwnerChecked($event)"
            id="isClubOwner">
          <label class="form-check-label" for="isClubOwner">Proprieta' del circolo ippico</label>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            value="false"
            (change)="isScholasticChecked($event)"
            id="isScholastic">
          <label class="form-check-label" for="isScholastic">Cavallo adibito a lezioni della scuola</label>
        </div>
      </div>
    </div>


    <div class="form-group mt-4">
      <button class="btn col-md-4">Iscrivi</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>


  <div class="alert alert-success" *ngIf="isSuccessful">
    Registrazione completata!
  </div>
</div>
<!--

<script>
  let app = angular.module('horseRegistration', []);
  app.controller('addRiderController', addRiderController)
  function addRiderController($scope) {

  }

</script>
-->
