<div class="container" *ngIf="isLoggedIn">
  <h1 class="d-flex mt-3">Il tuo profilo</h1>
  <div class="d-flex flex-column mt-2" *ngIf="!isClub">
    <ng-container *ngIf="(asyncTabs | async) === null">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <mat-tab-group>
      <mat-tab *ngFor="let tab of asyncTabs | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>
        <ng-container [ngSwitch]="tab.label">
          <app-horse-management *ngSwitchCase="'Gestione Cavalli'"></app-horse-management>
          <app-personal-infos *ngSwitchCase="'Informazioni Personali'"></app-personal-infos>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="d-flex flex-column mt-1" *ngIf="isClub">
    <ng-container *ngIf="(asyncTabsClub | async) === null">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <mat-tab-group>
      <mat-tab *ngFor="let tab of asyncTabsClub | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>
        <ng-container [ngSwitch]="tab.label">
          <app-new-arena *ngSwitchCase="'Gestione Campi'"></app-new-arena>
          <app-horse-management *ngSwitchCase="'Gestione Cavalli'"></app-horse-management>
          <app-add-coach *ngSwitchCase="'Gestione Istruttori'"></app-add-coach>
          <app-show-users *ngSwitchCase="'Gestione Utenti'"></app-show-users>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

