<div class="container mt-5 align-self-center flex-wrap">
    <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
      <h2 class="d-flex justify-content-center col-md-4">Effettua l'accesso!</h2>
      <div class="form-group"> <!--text-center content-center col-md-6 offset-md-3-->
        <div class="d-flex justify-content-center col-md-4 mt-4"> <!--d-flex flex-row col-6-->
          <label class="sr-only" for="username">Inserisci username</label>
          <input id="username" type="text" class="form-control" name="username" placeholder="Username"
            [(ngModel)]="form.username" required #username="ngModel"
          />
          <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
            Inserisci l'username!
          </div>
        </div>
        <div class="d-flex justify-content-center col-md-4 mt-2">
          <label class="sr-only" for="password">Inserisci password</label>
          <input id="password" type="password" class="form-control" name="password" placeholder="Password"
            [(ngModel)]="form.password" required minlength="4" #password="ngModel"/>
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Inserisci la password!</div>
            <div *ngIf="password.errors.minlength">
              La password deve essere di almeno 4 caratteri
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center col-md-4 mt-2">
          <button class="btn col-md-6 mt-2">Login</button>
        </div>
        <div class="d-flex justify-content-center col-md-4 align-self-center">
          <a class="mt-4" href="/signup">Devo effettuare la registrazione</a>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </div>
    </form>
<!--
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Welcome back!
    </div>-->

</div>
