<div class="container mt-5">
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate>
    <h2 class="title">Nuova lezione</h2>
    <div class="col-md-12 mt-3">
      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Data della lezione</mat-label>
          <input
            matInput
            [matDatepicker]="lessonDate"
            [(ngModel)]="form.lessonDate"
            name="lessonDate"
            id="lessonDate"
            disabled
            required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="lessonDate"></mat-datepicker-toggle>
          <mat-datepicker
            #lessonDate
            disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-group mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Orario</mat-label>
          <input
            [(ngModel)]="form.lessonHour"
            class="form-control"
            id="lessonHour"
            matInput
            name="lessonHour"
            placeholder="Ora"
            required
            type="time"
          />
          <mat-hint>Formato 24h</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-3 d-flex row mt-4">
        <mat-label>Durata</mat-label>
        <mat-radio-group name="lessonDuration" [(ngModel)]="form.lessonDuration" aria-label="seleziona durata">
          <mat-radio-button class="mt-2" name="lessonDuration" [value]="60" [checked]=true  [(ngModel)]="form.lessonDuration">60 minuti</mat-radio-button>
          <mat-radio-button class="mt-2" name="lessonDuration" [value]="30"  [(ngModel)]="form.lessonDuration">30 minuti</mat-radio-button>
          <mat-radio-button class="mt-2">
            <input type="tel"
              matInput
              name="lessonDuration"
              aria-label="Durata personalizzata"
              placeholder="Altro (minuti)"
              [(ngModel)]="form.lessonDuration">
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="input-group col-md-5 mt-4">
      <mat-form-field appearance="fill">
        <mat-label>Seleziona campo</mat-label>
        <mat-select
          class="custom-select"
          name="arenaId"
          id="arenaId"
          [(ngModel)]="form.arenaId"
          required>
          <mat-option *ngFor="let arena of arenas"
                      [value]="arena['_id']">
            {{arena['arenaName']}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex row col-md-12 mt-4">
      <div class="d-flex-row input-group col-md-6 mt-3">
        <mat-form-field appearance="fill">
          <mat-label>Seleziona allievo</mat-label>
          <mat-select
            class="custom-select"
            name="riderId"
            id="riderId"
            [(ngModel)]="form.riderId">
            <mat-option *ngFor="let rider of riders"
                        [value]="rider['_id']"
                        [disabled]="isRiderInList(rider['_id'])"
                        (click)="isRider(rider['_id'])">
              {{rider['surname']}} {{rider['name']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex-row input-group col-md-6 mt-3 ml-2">
        <mat-form-field appearance="fill">
          <mat-label>Seleziona cavallo</mat-label>
          <mat-select
            class="custom-select"
            name="horseId"
            id="horseId"
            [(ngModel)]="form.horseId">
            <mat-option  *ngFor="let horse of horses"
                         [value]="horse['_id']"
                         [disabled]="isHorseInList(horse['_id'])">
              {{horse['horseName']}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="d-flex-row btn col-md-2 mt-3 ml-2" (click)="addRiderToList(form.riderId, form.horseId)" >Aggiungi</button>
    </div>

    <div class="col-md-8 mt-3" *ngIf="!isClub">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          [value]="coachId"
          (change)="checkCoach($event)"
          id="coachId"
          checked>
        <label class="form-check-label" for="coachId">Sono l'istruttore.</label>
      </div>
    </div>

    <div class="input-group col-md-5 mt-4" *ngIf="isClub || form.coachId != infos._id">
      <mat-form-field appearance="fill">
        <mat-label>Seleziona istruttore</mat-label>
        <mat-select
          class="custom-select"
          name="coachId"
          id="otherCoachId"
          [(ngModel)]="coachId"
          required>
          <mat-option  *ngFor="let coach of coaches"
                       [value]="coach['_id']">
            {{coach['surname']}} {{coach['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-8">
      <mat-form-field appearance="fill">
        <mat-label>Note aggiuntive sulla lezione</mat-label>
        <textarea matInput name="notes" [(ngModel)]="form.notes" placeholder="Avvisi"></textarea>
      </mat-form-field>
    </div>

    <div class="mt-5" *ngIf="lesson.length != 0">
      <h3>Lezione composta da:</h3>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
            <mat-cell *matCellDef="let les">
            <input
                type="checkbox"
                class="form-check-input"
                value="true"
                checked
                (change)="isRiderUnchecked($event, les)"
                id="isRider">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="allievo">
          <mat-header-cell *matHeaderCellDef> Allievo </mat-header-cell>
          <mat-cell *matCellDef="let les"> {{les.riderInfo['surname']}} {{les.riderInfo['name']}}   </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cavallo">
          <mat-header-cell *matHeaderCellDef> Cavallo assegnato </mat-header-cell>
          <mat-cell *matCellDef="let les">  {{les.horseInfo['horseName']}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [length]="lesson.length"
        showFirstLastButtons
        aria-label="Seleziona pagina">
      </mat-paginator>

      <div class="form-group mt-3 mb-5">
        <button class="btn col-md-4" (click)="onSubmit()">Crea</button>
        <button class="btn col-md-4" (click)="onReset()" type="reset">Reset</button>

      </div>
    </div>
  </form>
</div>
