<h1 mat-dialog-title>Informazioni sulla lezione</h1>
<mat-dialog-content>
  <mat-label class="text-secondary">Istruttore</mat-label>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{form.coach['name']}} {{form.coach['surname']}}</mat-panel-title>
        <mat-panel-description>Modifica</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-select class="custom-select"
                    name="coachId"
                    id="otherCoachId"
                    [(ngModel)]="form.coach['coachId']">
          <mat-option *ngFor="let coach of coaches"
            [value]="coach['_id']">
            {{coach['name']}} {{coach['surname']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="updateCoach()">Ok</button>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <mat-label class="text-secondary mt-2">Giorno</mat-label>
  <br>
  <mat-form-field appearance="fill">
    <input matInput
           [matDatepicker]="picker"
          [value]="form.lessonDate"
           name="lessonDate"
           id="lessonDate"
           [(ngModel)]="form.lessonDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
    <!--<input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
    <mat-datepicker #picker></mat-datepicker>
-->
  <form>
    <mat-label class="text-secondary">Orario</mat-label>
    <input
      type="time"
      class="form-control"
      name="lessonHour"
      id="lessonHour"
      placeholder="Ora"
      [(ngModel)]="form.lessonHour"
      required
    />
  </form>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Durata</mat-label>
    <input matInput
      type="tel"
           class="form-control input-group-append"
           aria-label="Durata personalizzata"
           placeholder="Minuti"
           name="lessonDuration"
           [value]="form.lessonDuration"
           [(ngModel)]="form.lessonDuration">
  </mat-form-field>

  <br>
  <mat-label class="text-secondary">Campo prenotato</mat-label>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{form.arena['arenaName']}}</mat-panel-title>
        <mat-panel-description>Modifica</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-select class="custom-select"
                    name="arenaId"
                    id="arenaId"
                    [(ngModel)]="form.arena['arenaId']">
          <mat-option *ngFor="let arena of arenas"
                      [value]="arena['_id']">
            {{arena['arenaName']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="updateArena()">Ok</button>
    </mat-expansion-panel>
  </mat-accordion>

  <br>
  <mat-label class="text-secondary">Partecipanti:</mat-label>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Aggiungi partecipanti</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-select class="custom-select"
                    name="riderId"
                    id="riderId"
                    [(ngModel)]="tmpRider">
          <mat-option *ngFor="let rider of riders"
                      [disabled]="checkParticipants(rider)"
                      [value]="rider">
            {{rider['name']}} {{rider['surname']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="ml-2">
      <mat-select class="custom-select"
                    name="horseId"
                    id="horseId"
                    [(ngModel)]="tmpHorse">
          <mat-option *ngFor="let horse of horses"
                      [value]="horse">
            {{horse['horseName']}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="addPair()">Ok</button>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="form">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="bin">
        <mat-header-cell *matHeaderCellDef> Rimuovi </mat-header-cell>
        <mat-cell *matCellDef="let p">
          <button mat-button>
            <mat-icon (click)="deletePair(p.riderInfo['riderId'])">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="allievo">
        <mat-header-cell *matHeaderCellDef> Allievo </mat-header-cell>
        <mat-cell *matCellDef="let p"> {{p.riderInfo['riderName']}} {{p.riderInfo['riderSurname']}}   </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cavallo">
        <mat-header-cell *matHeaderCellDef> Cavallo assegnato </mat-header-cell>
        <mat-cell *matCellDef="let p">  {{p.horseInfo['horseName']}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="form.pairs.length"
      showFirstLastButtons
      aria-label="Seleziona pagina">
    </mat-paginator>
  </div>

  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Note aggiuntive sulla lezione</mat-label>
      <textarea matInput name="notes" [(ngModel)]="form.notes" placeholder="Avvisi"></textarea>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button (click)="onClose()">Annulla modifiche</button>
  <button mat-button (click)="onSave()">Salva</button>
  <button mat-button (click)="onDelete()">Rimuovi lezione</button>
</mat-dialog-actions>
