<div class="container mt-2">
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="d-flex row col-md-12 mt-4">
      <div class="d-flex-row input-group col-md-6">
        <div class="input-group-prepend">
          <label class="input-group-text" for="riderId">Istruttore</label>
        </div>
        <select
          class="custom-select"
          name="riderId"
          id="riderId"
          [(ngModel)]="form.coachId"
          required>
          <!--            <option [value]="'club-owner'">Possiedo un mio maneggio</option>-->
          <option *ngFor="let user of users"
                  [value]="user['_id']"
                  [disabled]="isUserInList(user['_id'])">
            {{user['surname']}} {{user['name']}}
          </option>
        </select>

      </div>
      <button class="d-flex-row btn col-md-2 mt'4" (click)="addCoachToList(form.coachId)" >Aggiungi</button>
    </div>

    <div class="mt-5" *ngIf="coaches.length != 0"> <!--[style.display]="'true'"-->
      <h3>Istruttori abilitati:</h3>
      <mat-table [dataSource]="coaches" class="mat-elevation-z8 mb-5">
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
          <mat-cell *matCellDef="let c">               <!--<td  *ngFor="let les of lesson">-->
            <input
              type="checkbox"
              class="form-check-input"
              value="true"
              checked
              (change)="isCoachUnchecked($event, c)"
              id="isCoach">
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="istruttore">
          <mat-header-cell *matHeaderCellDef> Istruttore </mat-header-cell>
          <mat-cell *matCellDef="let c"> {{c.name}} {{c.surname}}   </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <button class="btn col-md-4" (click)="onSubmit()">Conferma</button>

    </div>
  </form>
</div>
