@import "../../node_modules/angular-calendar/css/angular-calendar.css";

body {
  background-color: #FFFFFF; /*84F2AE*/
  height: 100%;
  width: 100%;
}

.navbar{
  background: #001635; /*007f6f*/
  text-decoration: none;
  position: sticky;
  padding: 10px;
  color: #FFFFFF;
}
.navbar-brand{
  color: #FFFFFF;
  font-family: 'monospace';
}

.btn{
  background: #001635;
  color: #EAEAEA;
  border-color: #001635;
}

.btn:hover, a:hover{
  /*
  color: #397367;
  */
  background: #001650; /*#007f6f #397367*/
  border-radius: 10px;
}

.title{
  color: #397367;
}
