<nav class="navbar navbar-expand-lg navbar-dark">
<a class="navbar-brand" href="#">EQUILESSONS</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isLoggedIn">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-center" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Il mio account</a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="nav-link dropdown-item" href="/profile" routerLink="profile">{{ username }}</a>
          <a class="nav-link dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>

    </ul>
    <!--

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Cerca circolo ippico" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
    </form>
    -->
  </div>
  <!-- -->


  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link dropdown-item" href="/horseRegistration" routerLink="horseRegistration">Registra cavallo</a>
    </li>
    <li class="nav-item">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
