<div class="container mt-5">
  <h2 class="title">Le tue notifiche</h2>
  <div class="mt-2">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 notifications-table">
      <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
        <mat-cell *matCellDef="let n">
          <input
            type="checkbox"
            class="form-check-input"
            value="true"
            [disabled]="false"
            (click)="checkNotification(n)"
          >
        </mat-cell>
      </ng-container>

      <!--<ng-container matColumnDef="sender" >
        <mat-header-cell *matHeaderCellDef> Mittente </mat-header-cell>
        <mat-cell *matCellDef="let n"> {{n['sender']}}</mat-cell>
      </ng-container>-->

      <ng-container matColumnDef="object">
        <mat-header-cell *matHeaderCellDef> Oggetto </mat-header-cell>
        <mat-cell *matCellDef="let n">{{n['notificationType']}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let n" > {{n['notificationDate'] | date :'EEEE, MMMM d, y  h:mm a' : '' :'it'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef> Messaggio </mat-header-cell>
        <mat-cell *matCellDef="let n"> {{n['message']}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        (click)="goToLesson(row['lessonId'], row['notificationType'])"
        #tooltip="matTooltip"
        matTooltip="Visualizza informazioni"
        matTooltipHideDelay="100"
        *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="notifications.length"
      showFirstLastButtons
      aria-label="Seleziona pagina">
    </mat-paginator>
    <button class="btn col-md-4" (click)="update()">Cancella selezionati</button>
  </div>
</div>
