<div class="container mt-5 align-self-auto">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <h1 class="title">Registra il tuo circolo!</h1>

      <div class="form-row col-md-5 mt-2">
        <input
          type="text"
          class="form-control"
          name="clubName"
          id="clubName"
          placeholder="Denominazione"
          [(ngModel)]="form.clubName"
          required
        />
      </div>

      <div class="form-row col-md-5 mt-2">
        <input
          type="email"
          class="form-control"
          name="clubEmail"
          id="clubEmail"
          placeholder="Email"
          [(ngModel)]="form.clubEmail"
          required
          email
        />
      </div>

      <div class="form-row col-md-5 mt-2">
        <input id="clubPassword" type="password" class="form-control" name="clubPassword" placeholder="Password"
               [(ngModel)]="form.clubPassword" required minlength="4" #password="ngModel"/>
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Inserisci la password!</div>
          <div *ngIf="password.errors.minlength">
            La password deve essere di almeno 4 caratteri
          </div>
        </div>
      </div>

      <div class="form-row col-md-5 mt-2">
        <input
          type="tel"
          class="form-control"
          name="clubTelephone"
          id="clubTelephone"
          placeholder="Telefono"
          [(ngModel)]="form.clubTelephone"
          required
        />
      </div>

      <div class="d-flex form-row col-md-5 mt-2 align-self-center">
        <input
          type="text"
          class="form-control"
          name="clubCity"
          id="clubCity"
          placeholder="Città"
          [(ngModel)]="form.clubCity"
          required
        />
      </div>

      <div class="d-flex form-row col-md-5 mt-2 align-self-center">
        <input
          type="text"
          class="form-control"
          name="clubAddress"
          id="clubAddress"
          placeholder="Indirizzo"
          [(ngModel)]="form.clubAddress"
          required
        />
      </div>


      <div class="d-flex form-group col-md-5 mt-4 align-self-right">
        <button class="btn col-md-4">Registrami!</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
  </form>


  <div class="alert alert-success" *ngIf="isSuccessful">
    Registrazione completata!
    <a class="btn col-md-4" href="/newArena">Aggiungi i campi adibiti alle lezioni!</a>
    <a class="btn col-md-4" href="/horseRegistration">Aggiungi i cavalli!</a>
  </div>
</div>
