<div class="container mt-2">

  <h1>Gestione utenti</h1>
  <div class="mt-5" *ngIf="users.length != 0"> <!--[style.display]="'true'"-->
    <mat-table [dataSource]="users" class="mat-elevation-z8 mb-5">
      <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
        <mat-cell *matCellDef="let u">               <!--<td  *ngFor="let les of lesson">-->
          <input
            type="checkbox"
            class="form-check-input"
            value="true"
            checked
            disabled
            (click)="showInfos(u.userId)"
            > <!--id="userId"-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="utente">
        <mat-header-cell *matHeaderCellDef> Utente </mat-header-cell>
        <mat-cell *matCellDef="let u"> {{u['name']}} {{u['surname']}}   </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numero_di_telefono">
        <mat-header-cell *matHeaderCellDef> Numero di telefono </mat-header-cell>
        <mat-cell *matCellDef="let u"> {{u['phoneNumber']}}  </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>

    <div class="mt-5" *ngIf="tmpUsers.length != 0"> <!--[style.display]="'true'"-->
      <h1>Utenti temporanei</h1>
      <h5 class="text-secondary">Per rimuovere un utente dalla lista basta rimuovere la spunta dall'apposita casella e premere aggiorna</h5>
      <mat-table [dataSource]="tmpUsers" class="mat-elevation-z8 mb-5">
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
          <mat-cell *matCellDef="let u">               <!--<td  *ngFor="let les of lesson">-->
            <input
              type="checkbox"
              class="form-check-input"
              value="true"
              checked
              (change)="isUserUnchecked($event, u)"
              id="userId">
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="utente">
          <mat-header-cell *matHeaderCellDef> Utente </mat-header-cell>
          <mat-cell *matCellDef="let u"> {{u['name']}} {{u['surname']}}   </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numero_di_telefono">
          <mat-header-cell *matHeaderCellDef> Numero di telefono </mat-header-cell>
          <mat-cell *matCellDef="let u"> {{u['phoneNumber']}}  </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <button class="btn col-md-4" (click)="update()">Aggiorna</button>
    </div>
</div>
