<div class="container mt-5">

  <h1>Gestione utenti</h1>

  <mat-accordion>
    <mat-expansion-panel
      (closed)="true"> <!--(opened)="panelOpenState = true"-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aggiungi un utente temporaneo
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-row">
          <div class="col-md-5 mt-2">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Nome"
              [(ngModel)]="form.name"
              required
            />
          </div>
          <div class="col-md-5 mt-2">
            <input
              type="text"
              class="form-control"
              name="surname"
              id="surname"
              placeholder="Cognome"
              [(ngModel)]="form.surname"
              required
            />
          </div>

        </div>

        <div class="form-row">
          <div class="col-md-5 mt-2">
            <input
              type="tel"
              class="form-control"
              name="phoneNumber"
              id="phoneNumber"
              placeholder="Numero di telefono"
              [(ngModel)]="form.phoneNumber"
              required
            />
          </div>
        </div>

        <div class="form-group mt-4">
          <button class="btn col-md-4">Conferma</button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="mt-2"> <!--[style.display]="'true'"-->
    <h5 class="text-secondary">Per rimuovere un utente temporaneo dalla lista basta rimuovere la spunta dall'apposita casella e premere aggiorna</h5>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
        <mat-cell *matCellDef="let u">               <!--<td  *ngFor="let les of lesson">-->
          <input
            type="checkbox"
            class="form-check-input"
            value="true"
            checked
            [disabled]="!u.tmp"
            (click)="isUserUnchecked($event, u.userId)"
          > <!--id="userId"-->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="utente">
        <mat-header-cell *matHeaderCellDef> Utente </mat-header-cell>
        <mat-cell *matCellDef="let u">
          <button mat-button (click)="showInfos(u.userId)"> {{u['name']}} {{u['surname']}}</button>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="numero_di_telefono">
        <mat-header-cell *matHeaderCellDef> Numero di telefono </mat-header-cell>
        <mat-cell *matCellDef="let u"> {{u['phoneNumber']}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="utente_temporaneo">
        <mat-header-cell *matHeaderCellDef> Utente temporaneo </mat-header-cell>
        <mat-cell *matCellDef="let u" >
          <mat-icon *ngIf="u.tmp == true">done</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="users.length"
                   showFirstLastButtons
                   aria-label="Seleziona pagina">
    </mat-paginator>
    <button class="btn col-md-4" (click)="update()">Aggiorna</button>
  </div>
</div>
