<div class="container mt-5 align-self-auto">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <h3 class="title">Registrati!</h3>

      <div class="form-row">
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Nome"
            [(ngModel)]="form.name"
            required
          />
        </div>
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="surname"
            id="surname"
            placeholder="Cognome"
            [(ngModel)]="form.surname"
            required
          />
        </div>

      </div>

      <div class="form-row ">
        <div class="col-md-5 mt-2">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
            [(ngModel)]="form.email"
            required
            email
          />
        </div>
        <div class="col-md-5 mt-2">
          <label for="birthday">Data di Nascita</label>
          <input
            type="date"
            class="form-control"
            name="birthday"
            id="birthday"
            [(ngModel)]="form.birthday"
            required
          />
        </div>
      </div>


      <div class="form-row">
        <div class="col-md-5 mt-2">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="Username"
              [(ngModel)]="form.username"
              required
            />
          </div>
        </div>
        <div class="col-md-5 mt-2">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="form.password"
            required
            minlength="4"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5 mt-2">
          <input
            type="tel"
            class="form-control"
            name="phoneNumber"
            id="phoneNumber"
            placeholder="Numero di telefono"
            [(ngModel)]="form.phoneNumber"
            required
          />
        </div>
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="taxcode"
            id="taxcode"
            placeholder="Codice Fiscale"
            [(ngModel)]="form.taxcode"
            required
          />
        </div>

      </div>

      <div class="form-row ">
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="city"
            id="city"
            placeholder="Città di residenza"
            [(ngModel)]="form.city"
            required
          />
        </div>
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="address"
            id="address"
            placeholder="Indirizzo"
            [(ngModel)]="form.address"
            required
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-5 mt-2">
          <input
            type="text"
            class="form-control"
            name="nrFise"
            id="nrFise"
            placeholder="Tessera Fise"
            [(ngModel)]="form.nrFise"
            required
          />
        </div>
        <div class="col-md-5 mt-2">
          <label for="clubId">Circolo di appartenenza</label>
          <select
            class="form-control"
            name="clubId"
            id="clubId"
            [(ngModel)]="form.clubId"
            required>
            <option *ngFor="let club of clubs"
                    [value]="club['_id']">
              {{club['clubName']}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group mt-4">
        <button class="btn col-md-4">Iscrivimi</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
  </form>


  <div class="alert alert-success" *ngIf="isSuccessful">
    Registrazione completata!
    <a href="/login">Ora effettua il login!</a>
  </div>
</div>
