<form>
  <div id="signup">
    <h3 class="text-center text-white pt-5">signup form</h3>
    <div class="container">
      <div id="signup-row" class="row justify-content-center align-items-center">
        <div id="signup-column" class="col-md-12">
          <div id="signup-box" class="col-md-12">
            <form id="signup-form" class="form border mt-4 mb-4 px-5 py-4" action="" method="post" *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate>
              <h3 class="text-center text-info">Registrati!</h3>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">Nome</label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="Nome" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationDefault02">Cognome</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Cognome" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="taxcode">Codice fiscale</label>
                  <input type="text" class="form-control" id="taxcode" placeholder="Codice fiscale" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="form.email"
                         required
                         email
                         #email="ngModel">
                </div>
                <div class="col-md-4 mb-3">
                  <label for="telephone">Numero di telefono</label>
                  <input type="tel" id="telephone" class="form-control" placeholder="Numero di telefono" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="birthday">Data di nascita</label>
                  <input type="date" id="birthday" class="form-control" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="birthLocation">Luogo di nascita</label>
                  <input id="birthLocation" type="text" class="form-control" placeholder="Luogo di nascita" required>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationDefaultUsername">Username</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    </div>
                    <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="password" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="confirmPsw">Conferma password</label>
                  <input type="password" class="form-control" id="confirmPsw" placeholder="Conferma password" onChange="checkPasswordMatch()" required>
                  <p id="passwordMatch" hidden></p>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <label for="city">Città</label>
                  <input type="text" class="form-control" id="city" placeholder="Città" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="address">Indirizzo</label>
                  <input type="text" class="form-control" id="address" placeholder="Indirizzo" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="nrFise">Tessera FISE</label>
                  <input id="nrFise" type="text" class="form-control" placeholder="Tessera FISE" required>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="clubId">Circolo di appartenenza</label>
                    <select class="form-control" id="clubId" required>
                      <option>--</option>
                      <option *ngFor="let club of clubs" [value]="club">
                        {{club['clubName']}}
                      </option>
                    </select>
                    <!--<error *ngIf="clubControl.hasError('required')">Please choose an animal</error>
                    <hint>{{clubControl.value?.location.city}}</hint>-->
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="false" id="owner">
                  <label class="form-check-label" for="owner">
                    Sono proprietario di cavalli
                  </label>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!--
<div class="col-md-4 mb-3">
                  <label></label>
                  <input>
                </div>
-->


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  (function checkPasswordMatch() {
    let password = document.getElementById("password");
    let confirmPsw = document.getElementById("confirmPsw");
    let passMatch = document.getElementById("passwordMatch");

    //- confirmPassword.change(function() {
    if (password != confirmPsw){
      passMatch.classList.remove();
      passMatch.classList.add("text-danger");
      passMatch.innerHTML= "La password non corrisponde!";
    }else{
      passMatch.classList.remove();
      passMatch.classList.add("text-success");
      passMatch.innerHTML= "Le password corrispondono!";
    }
    passMatch.style.display = "block";
    //- })
  })();
</script>
