<div class="container mt-5 align-self-auto">
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <h3 class="title">Aggiungi i campi adibiti alle lezioni</h3>
    <div class="form-row col-md-6">
      <div class="input-group mt-3">
        <input
          #arenaName
          type="text"
          class="form-control"
          name="arenaName"
          id="arenaName"
          placeholder="Denominazione"
          [(ngModel)]="form.arenaName"
          required
        />
        <div class="input-group-append">
          <button class="btn" (click)="addArenaToList(arenaName.value)" type="reset">Aggiungi</button>
        </div>
      </div>

    </div>

    <div class="mt-5" *ngIf="arenas.length != 0"> <!--[style.display]="'true'"-->
      <h3>Campi utilizzabili:</h3>
      <mat-table [dataSource]="arenas" class="mat-elevation-z8 mb-5">
        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef> Check </mat-header-cell>
          <mat-cell *matCellDef="let a">               <!--<td  *ngFor="let les of lesson">-->
            <input
              type="checkbox"
              class="form-check-input"
              value="true"
              checked
              (change)="isArenaUnchecked($event, a)"
              id="isCoach">
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="arenaName">
          <mat-header-cell *matHeaderCellDef> Denominazione </mat-header-cell>
          <mat-cell *matCellDef="let a"> {{a['arenaName']}}  </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <button class="btn col-md-4" (click)="onSubmit()">Conferma</button>

    </div>

    <!--<div class="form-row mt-4" *ngIf="arenas.length != 0"> [style.display]="'true'"-->
      <!--<h4>Campi:</h4>
      <div class="col-md-8">
        <ul>
          <li *ngFor="let arena of arenas">
            <label for="arenaName">{{arena}}</label>
          </li>
        </ul>
      </div>
    </div>

    <div class="form-group mt-5">
      <button class="btn col-md-2" (click)="onSubmit()">Conferma</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>-->
  </form>


  <div class="alert alert-success" *ngIf="isSuccessful">
    Registrazione completata!
  </div>
</div>
