<h1 class="d-flex ml-5 mt-5">Il tuo profilo</h1>
<div class="d-flex flex-column ml-2 mt-5">
  <h2 class="d-flex ml-2 mt-5">Ruoli</h2>
  <ul class="list-group" style="list-style-type:square;">
    <li class="list-group-item col-md-4" *ngFor="let role of roles">{{role}}</li>
  </ul>

  <a class="btn col-md-4 mt-4" *ngIf="!roles.includes('club-owner')" href='/newClub'>Iscrivi il mio circolo!</a>
  <button class="btn col-md-4 mt-4" *ngIf="!roles.includes('coach')" (click)="addCoach()">Sono istruttore presso il circolo ippico selezionato.</button>
</div>
