<h1 mat-dialog-title>Informazioni del cavallo</h1>
<div mat-dialog-content>

  <h3>{{horse.horseName}}</h3>

  <div>
    <h5 class="text-secondary">Microchip:</h5>
    <p>{{horse.horseMicrochip}}</p>
  </div>
  <div *ngIf="horse.horseFise">
    <h5 class="text-secondary">Numero FISE:</h5>
    <p>{{horse.horseFise}}</p>
  </div>
  <div>
    <h5 class="text-secondary">Data di nascita:</h5>
    <p>{{horse.horseBirthday}}</p>
  </div>
  <div *ngIf="riders.length > 0">
    <h5 class="text-secondary">Cavalieri collegati:</h5>
    <mat-action-list role="list">
      <button mat-list-item *ngFor="let r of riders" role="listitem" [disabled]>{{r.name}} {{r.surname}}
      </button>
    </mat-action-list>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Chiudi</button>
</div>

